<div class="buttondata">
    <div class="d-grid gap-2" style="text-align: center;">
        <a href="/main_stats" class="btn" type="button">Total UMKM</a>
        <a href="/mikro_stats" class="btn" type="button">Usaha Mikro</a>
        <a href="/kecil_stats" class="btn" type="button">Usaha Kecil</a>
        <a href="/menengah_stats" class="btn" type="button">Usaha Menengah</a>
    </div>
</div>