/* 
@media  screen and (min-width:1024px){
    .cover .content p{
        padding-right: 50vw;
        padding-bottom: 15px;
    }
    .cover .content{
        padding-top: 40vh;
    }
    .numbers .rectangle{
        width: 17vw;
        height: 12vw;
    }

    .cover .content h1{
        font-size: 5vw;
    }
    .cover .content p{
        font-size: 15px;
    }
    .rectangle1, .rectangle2, .rectangle3, .rectangle4{
        width: 20vw;
        height: 20vh;
    }
}*/

